{% extends 'base.html'%}

{% block title %}ap{% endblock title %}

{% block body %}
<div class="container-fluid my-4 px-0 mb-4"> 
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="https://source.unsplash.com/2000x600/?six sense" class="d-block w-100 mx-0" alt="...">
            </div>
        </div>
    </div>
</div>

 <div class="container">
 <h1>Here are some links recommended for beginners to start yoga and meditations..., </h1>
 <h3>Websites recommended : </h3>
<p><a href="https://www.yogajournal.com/meditation/let-s-meditate/" class="link-info">https://www.yogajournal.com/meditation/let-s-meditate/ </a></p>
<p><a href="https://poweryoga.com/blog/benefits-and-differences-yoga-meditation/ " class="link-info">https://poweryoga.com/blog/benefits-and-differences-yoga-meditation/ </a></p>
<p><a href="https://timesofindia.indiatimes.com/what-is-the-difference-between-meditation-and-yoga/articleshow/1353896.cms" class="link-info">https://timesofindia.indiatimes.com/what-is-the-difference-between-meditation-and-yoga/articleshow/1353896.cms </a></p>
<p><a href="https://sivanandayogafarm.org/what-is-yoga-meditation/" class="link-info">https://sivanandayogafarm.org/what-is-yoga-meditation/ </a></p>
<p><a href="https://theyogainstitute.org/difference-between-yoga-and-meditation/ " class="link-info">https://theyogainstitute.org/difference-between-yoga-and-meditation/ </a></p>
<p><a href="https://en.wikipedia.org/wiki/Meditation" class="link-info">https://en.wikipedia.org/wiki/Meditation </a></p>
<p><a href="https://business.virtuagym.com/magazine/meditation-vs-yoga-which-is-best-for-me/" class="link-info">https://business.virtuagym.com/magazine/meditation-vs-yoga-which-is-best-for-me/ </a></p>
<p><a href="https://www.zenagoy.com/blogs/journal/yoga-and-meditation-differences" class="link-info">https://www.zenagoy.com/blogs/journal/yoga-and-meditation-differences </a></p>
<p><a href="https://www.zenagoy.com/blogs/journal/yoga-and-meditation-differences" class="link-info">https://www.zenagoy.com/blogs/journal/yoga-and-meditation-differences </a></p>
<p><a href="https://www.airbnb.co.in/" class="link-info">https://www.airbnb.co.in/ </a></p>
<p><a href="https://pitch.com/" class="link-info">https://pitch.com/ </a></p>
<p><a href="https://www.frankandoak.com/" class="link-info">https://www.frankandoak.com/ </a></p>
<p><a href="https://www.semplice.com/" class="link-info">https://www.semplice.com/ </a></p>
<p><a href="https://boostedusa.com/" class="link-info">https://boostedusa.com/ </a></p>
<p><a href="https://www.behance.net/search" class="link-info">https://www.behance.net/search </a></p>
<p><a href="https://dribbble.com/" class="link-info">https://dribbble.com/ </a></p>
<p><a href="https://www.flickr.com/" class="link-info">https://www.flickr.com/ </a></p>
<p><a href="https://www.siteinspire.com/" class="link-info">https://www.siteinspire.com/ </a></p>
<p><a href="https://ecomm.design/" class="link-info">https://ecomm.design/</a></p>

<h3> Apps recommended : </h3>
<p>
<img src="https://play-lh.googleusercontent.com/MBTgOGnGFQEmOSLodhfllOHXAAD1iSeOG94xi73RFmKRmGzKw8WAtIWfQdJhI6FiOIU=s180-rw ">
<h3><a href="https://play.google.com/store/apps/details?id=loseweightapp.loseweightappforwomen.womenworkoutathome&hl=en" class="link-success">Lose Weight App for Women - Workout at Home</a></h3>
</p>

<p>
<img src="https://play-lh.googleusercontent.com/g7GxE6g6cEWnA7t8DZHlYv8hZgOZ_BhpAfOLi6NddwQXoJ40pKLGfbsKvwj06lR5cm0=s180-rw ">
<h3><a href="https://play.google.com/store/apps/details?id=com.xiaomi.hm.health&hl=en" class="link-success">Mi Fit</a></h3>
</p>

<p>
<img src="https://play-lh.googleusercontent.com/gBih6nHb6of5Orzd4WQshya75Vw-vXihocdiF0GsaIfSoTCrxUAzZq-8lxwLZTG8ysM=s180-rw ">
<h3><a href="https://play.google.com/store/apps/details?id=com.healthifyme.basic&hl=en" class="link-success">Calorie Counter, Diet Plan, Dietitians, Trainers</a></h3>
</p>

<p>
<img src="https://play-lh.googleusercontent.com/JknArWBicl7xtkb54wn82IMZ9xQ8NE6iitMi16XAlPMwNRXI__B7cTMCimX86QLprw=s180-rw ">
<h3><a href="https://play.google.com/store/apps/details?id=fit.cure.android&hl=en" class="link-success">cult.fit Fitness, Meditation, Healthy food, Doctor</a></h3>
</p>

<p>
<img src="https://play-lh.googleusercontent.com/xXNiDWE6ntzors_2nqySbo1EKuJgCXXOHfS_YpmaiAlfq3aHdXOhAgeHKklKdYDeCY8=s180-rw ">
<h3><a href="https://play.google.com/store/apps/details?id=com.spartanbodyweightworkouts&hl=en" class="link-success">Home Workout MMA Spartan Pro - 50% DISCOUNT</a></h3>
</p>

<p>
<img src="https://play-lh.googleusercontent.com/RSu_Yble-5MgqnXbuqaYdj9r97Wv3yE0ICX2vDGAw2QCZPF4wZLA71Q1cEndjR1WpDM=s180-rw ">
<h3><a href="https://play.google.com/store/apps/details?id=com.myfitnesspal.android&hl=en" class="link-success">Calorie Counter - MyFitnessPal</a></h3>
</p>

<p>
<img src="https://play-lh.googleusercontent.com/nAJUCQcEl4tVQdy9MX9qUXDadMFBPONIDqV2Odlr0UNlu7cEDsBEHOUf1Y-flRV5Ig=s180-rw ">
<h3><a href="https://play.google.com/store/apps/details?id=com.huawei.health&hl=en" class="link-success">Huawei Health</a></h3>
</p>

<p>
<img src="https://play-lh.googleusercontent.com/bfWznD9QtfGaI2hMB0I68GK4nGcWQJ8fJpiJAO-ZvCpDKQ09oTx0ofEAXZQeBUPLKZ0=s180-rw ">
<h3><a href="https://play.google.com/store/apps/details?id=net.beginners.weight.loss.workout.women.yoga.go&hl=en" class="link-success">Yoga-Go: Yoga For Weight Loss</a></h3>
</p>

<p>
<img src="https://play-lh.googleusercontent.com/PiSGqI_FuBMIyJe9hs4ywZoA9UyfCoaVnDrGQUJRFQntK-65JE0QvaROFJ1aZCUndw0=s180-rw ">
<h3><a href="https://play.google.com/store/apps/details?id=com.outthinking.yogaworkout&hl=en" class="link-success">Yoga for Beginners – Daily Yoga Workout at Home</a></h3>
</p>

<p>
<img src="https://play-lh.googleusercontent.com/lXEi6TrYKKNmc8Du66X04_qGknlDPvF-kCHxCQWktUUFyv24RT_ezvorqBeWneAqgkg=s180-rw ">
<h3><a href="https://play.google.com/store/apps/details?id=com.ohealthstudio.yogaforweightloss&hl=en" class="link-success">Yoga for Weight Loss - Daily Yoga Workout Plan</a></h3>
</p>

<h3> Videos recommended : </h3>

 </div>
 
{% endblock body %}
