{% extends 'base.html'%}

{% block title %}Services{% endblock title %}

{% block body %}
<div class="container-fluid my-4 px-0 mb-4"> 
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="https://source.unsplash.com/2000x600/? yoga meditation" class="d-block w-100 mx-0" alt="...">
            </div>
        </div>
    </div>
</div>

 <div class="container">
<p><h4>
Pollution prevention approaches can be applied to all potential and actual pollution-generating activities, including those found in the energy, agriculture, federal, consumer and industrial sectors. Prevention practices are essential for preserving wetlands, groundwater sources and other critical ecosystems - areas in which we especially want to stop pollution before it begins.

</h4></p>

<p><h4>
In the energy sector, pollution prevention can reduce environmental damages from extraction, processing, transport and combustion of fuels. Pollution prevention approaches include:
</h4></p>

<p><h4>
increasing efficiency in energy use;
use of environmentally benign fuel sources.
In the agricultural sector, pollution prevention approaches include:
</h4></p>

<p><h4>
Reducing the use of water and chemical inputs;
Adoption of less environmentally harmful pesticides or cultivation of crop strains with natural resistance to pests; and
Protection of sensitive areas.
</h4></p>

<p><h4>
In the industrial sector, examples of P2 practices include:
</h4></p>

<p><h4>
Modifying a production process to produce less waste
Using non-toxic or less toxic chemicals as cleaners, degreasers and other maintenance chemicals
</h4></p>

<p><h4>
Implementing water and energy conservation practices
Reusing materials such as drums and pallets rather than disposing of them as waste
In homes and schools examples of P2 practices include:
</h4></p>

<p><h4>
Using reusable water bottles instead of throw-aways
Automatically turning off lights when not in use
Repairing leaky faucets and hoses
Switching to "green" cleaners
</h4></p>

<p><h4>
Why is pollution prevention important?
</h4></p>

<p><h4>
Pollution prevention reduces both financial costs (waste management and cleanup) and environmental costs (health problems and environmental damage). Pollution prevention protects the environment by conserving and protecting natural resources while strengthening economic growth through more efficient production in industry and less need for households, businesses and communities to handle waste.
</h4></p>

 </div>

{% endblock body %}
